//@import '~app/global.scss';
@import '~common/style/_settings.scss';

.item-title {
	display: inline;
	cursor: pointer;
	span {
		font-size: 1.25rem !important;
    color: #545955 !important;
    line-height: 1.75rem !important;
    font-weight: 500 !important;
    transition: all 0.25s !important;
	}
}

.new_tab {
	padding-right: 0.5rem;
}

.tender_summery {
	position: relative;
	margin-top: 1.5rem;
	background: #FFFFFF;
	border: 1px solid transparent;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.20);
	transition: all 0.25s;
}

.label {
	font-family: 'Rubik', sans-serif !important;
	font-weight: 500;
	color: #fff !important;
	padding: rem-calc(3) rem-calc(8);
}

.alert {
	background: #EE274A;
	color: #fefefe;
}

.tender_summery.checked {
	border: 1px solid $green;
	/*> div > div > div {
		.checkbox_continer {
			background-color: $green !important;
		}
	}*/
	input[type="checkbox"]:after {
		border: 2px solid #ffffff !important;
	}
}

.tender_summery:hover {
	// border: 1px solid $green;
	h3 {
		color: $green;
	}
	.checkbox_continer {
		background-color: $green;
	}
	input[type="checkbox"]:after {
		border: 2px solid $green;
	}
}

.checkbox_continer {
	width: rem-calc(40);
	height: 100%;
	background-color: $xlight-gray;
	position: absolute;
	display: flex;
    justify-content: center;
    transition: all 0.25s;
}

.tender_txt_wraper {
	margin: 0.75rem 3.5rem 1rem 2rem;
	h3 {
		font-size: 1.25rem;
		color: $black;
		line-height: 1.75rem;
		font-weight: 500;
		transition: all 0.25s;
	}
	p {
		font-family: 'Heebo', sans-serif;
		font-size: rem-calc(15);
	}
	span {
		font-size: rem-calc(14);
		color: $dark-gray;
	}
	span.divider {
		padding: 0 0.25rem;
	}
}

.tender_action_wraper {
	padding: 1rem 1rem 0 0;
	border-right: 1px solid $light-gray;
	height: 100%;
	li {
		margin-bottom: 0.25rem;
	}
	img {
		vertical-align: middle;
		margin-left: 0.5rem;
	}
	a {
		color: $dark-gray;
		font-size: rem-calc(15);
	}
}

.tender_desc p:last-child {
	margin-bottom: 0;
}

.visited {
	color: #b3bbb5 !important; /*#767676*/
}
