.title {
	font-family: 'Rubik', sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: #444945;
	text-shadow: 0 2px 3px rgba(0,0,0,0.2);
	margin-top: 3rem;
	line-height: 1.1;
}

.meta-data {
	font-size: 0.8rem;
  color: #44C960;
  font-weight: bold;
}

.v_line {
  padding: 0 0.5rem;
}

.post_wrapper {
    margin-bottom: 6rem;
}

.divider {
  border-bottom: 4px solid #EAEAEA;
  margin-top: 0;
	height: 0.25rem;
}

.subtitle {
  line-height: 1.3;
  font-size: 1.5rem;
  margin-left: 2rem;
  font-family: 'Heebo', sans-serif;
  font-weight: 400 !important;
}
