.record {
  padding: 5px;
  margin: 1px;
  border-bottom: #c1bcbc 1px solid;
  cursor: pointer;
  direction: rtl;
}

.selected {
  border: green 1px solid !important;
}

.clearfix {
  overflow: auto;
  zoom: 0
}

.record-title {
  width: 80%;
  float: right;
}

.record-date {
  width: 20%;
  float: left;
  margin-top: 3px;
  color: gray;
}

.record-infodate {
  font-size: 0.8rem;
  color: gray;
}
