.footer {
  background: #444;
  color: #fff;
  padding: 1rem 0;
  p.link_ttl {
    margin-top: 0.5rem;
    margin-bottom: 0.35rem;
    font-weight: 500;

  }
  a {
    color: #fff;
  }
  hr {
    border-bottom: 1px solid #979797;
    margin-bottom: 1rem;
  }
  ul {
    margin-bottom: 1.5rem;
    
  }
}
