:global {
  .react-image-viewer {
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    background-color: #8c8c8c !important;
    right: 0 !important;
	}

  .image-close-button {
    background-color: #44C960;
    color: white;
    padding: 10px;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1006;
    border-bottom-left-radius: 6em 5em;
    font-weight: bold;
  }

  a.image-close-button:hover {
    color: white !important;
  }
}
