.form-container {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0 !important;
  padding-bottom: 70px !important;
}

.lead_form {
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    height: 55px;
}

.form-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #F9F9F9;
  text-shadow: 0 4px 6px rgba(0,0,0,0.18);
  text-align: center;
  line-height: 1;
  margin-bottom: 1rem;
}

.form-subtitle {
  font-size: 1.5rem;
  color: #F9F9F9;
  text-shadow: 0 4px 6px rgba(0,0,0,0.18);
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

.sub_ttl {
	color: #fff;
	text-align: center;
	margin-bottom: 2rem;
}

.form_input_hor {
  width: 30%;
  float: right;
  height: 100%;
  border-left: 1px solid #ddd;
}

.form_input_container input,
.form_input_container input:focus {
	background: transparent;
	z-index: 1;
	border: 0px solid transparent;
	box-shadow: none;
	margin: 0.75rem 0 0 0;
}

.form_input_container {
	position: relative;
}

.form_input_container label {
	position: absolute;
	z-index: 0;
	top: 0.85rem;
	right: 1rem;
}

.form_input_container input:focus + label {
  /* do something with the label */
  top: 0.5rem !important;
  right: 0.5rem;
  font-size: 10px;
  transition: 0.2s;
}

/*
.form_input_container input:valid + label {

  top: 0.5rem !important;
  right: 0.5rem;
  font-size: 10px;
  transition: 0.2s;
} */

.submit {
	width: 10% !important;
	padding: 0 !important;
  float: right !important;
}

.submit-button {
  margin: 0 0 0 -1px !important;
  height: 100%;
  border-radius: 0 !important;
  position: relative;
  width: 100%;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
