@import '~common/style/_settings.scss';

.results_summery {
	/*margin-top: 4rem;*/
	font-size: 2.5rem;
	color: $black;
	span.num {
		font-size: 2.15rem;
	}
}

.loading {
	opacity: 0.15
}

.pre-title {
	margin-top: 1rem;
  color: #44c960;
}
