.title {
	font-family: 'Rubik', sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: #444945;
	text-shadow: 0 2px 3px rgba(0,0,0,0.2);
	margin-top: 4rem;
	line-height: 1;
}

.subttl {
	padding: 0;
	font-size: 1.125rem;
}


hr {
	margin-bottom: 1rem;
}


.wraper {
	padding: 0 0 5rem 2rem;
}
