.subsubject-searchbox {
	font-size: 1.25rem;
	color: #000000;
	position: relative;
  box-sizing: border-box;
  width: 150px;
  padding: 0.375rem 0;
  box-shadow: none;
  font-family: inherit;
  font-weight: normal;
  line-height: 1.5;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  overflow: visible;
}

.word-input {
  width: 150px !important;
}
