@import '~common/style/_settings.scss';


.hide {
  display: none;
}

.hero {
  margin-bottom: 8rem;
}

.hero_txt {
	font-weight: 700;
	color: #444945;
	text-shadow: 0 4px 6px rgba(0,0,0,0.18);
	text-align: center;
	line-height: 1.3;
	margin-bottom: 1rem;
	font-size: 3rem !important;
	margin-top: 6rem !important;
  margin-bottom: 2rem;
}
@media screen and (max-width: 39.9375em) {
  .hero_txt{
    font-size: 2rem !important;
  }
}

.sub_head {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #444945;
}

.sub_ttl {
  text-align: center;
  margin: 0 0 2rem 0;
}

.cat-title {
  font-family: 'Rubik', sans-serif;
  font-size: 1.75rem;
  color: #444444;
  letter-spacing: -0.17px;
  font-weight: 600;
}

.blockitem {
  margin-bottom: 2px !important;
}

.blockitem_sub {
  margin-bottom: 0 !important;
}

.cat_num {
	font-family: 'Rubik', sans-serif;
	font-weight: 200;
	font-size: 1.75rem;
	letter-spacing: -0.17px;
}

.cat_name {
	font-family: 'Heebo', sans-serif;
	font-size: 1rem;
	line-height: 1.25rem;
	margin-top: 0.25rem;
}

.cat_icon {
	position: absolute;
  bottom: 0;
  left: 0;
}

.show_all {
	display: block;
	text-align: center;
	padding: 0.5rem;
	border-radius: 3px;
	width: 100%;
	border: 1px solid #fff;
	margin-top: 1rem;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20);
	transition: all 0.35s ease;

  & :hover {
  	background: #D3EFD9;
  	border: 1px solid #44C960;
  }
}

.fetuers {
  padding: 6rem 0;
}

.fet_wrapper {
	text-align: center;
	padding: 0 2rem;
}

.fet_ttl_main {
  font-weight: 700;
  font-size: 1.75rem;
  color: #444444;
  letter-spacing: -0.17px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.fet_ttl {
  font-weight: 700;
  font-size: 1.25rem;
  color: #444444;
  letter-spacing: -0.1px;
  text-align: center;
  margin-bottom: 1rem;
}

.testemonials-wrapper {
  padding: 4rem 0;
  background-color: #444;
}

.tes-title {
  font-weight: 700;
  font-size: 1.75rem;
  color: #3ECB5B;
  letter-spacing: -0.17px;
  text-align: center;
  margin: 0 0 2rem 0;
}

.tes_name {
	color:  #44C960;
	margin-bottom: 0;
}

.vid_link {
	display: block;
  & img {
  	padding-left: 0.5rem;
  }
}

.tenders {
  padding: 4rem 0;
}

.tender_wrapper {
	padding: 1rem 0.5rem;
	border-top: 1px solid #EAEAEA;
  > div {
  	display: inline-block;
    > p {
    	margin-bottom: 0;
    }
  }
}

.tenders-title {
  font-weight: 700;
  font-size: 1.75rem;
  color: #444;
  letter-spacing: -0.17px;
  margin: 0 0 1rem 0;
}

.ten_date {
	width: 10%;
	color: #9B9B9B
}

.ten_cat {
	width: 15%;
	color: #9B9B9B;
}

.ten_title {
	width: 74%;
}

.subcat {
  color: #444444;
  padding: 0.65rem 0.5rem;
  border-top: 1px solid #9B9B9B;
  display: block;
  margin: 0 0.5rem;
  transition: all 0.35s ease;
  span {
    font-size: 13px;
    color: $medium_gray
  }
}

.news {
  padding: 0 0 4rem 0;
}

.acticles-title {
  font-weight: 700;
  font-size: 1.75rem;
  color: #444;
  letter-spacing: -0.17px;
  margin: 0 0 1rem 0;
}

.one-article-title {
  font-family: 'Heebo', sans-serif;
  font-size: 1.125rem;
  color: #444444;
  line-height: 1.3;
  margin-top: 1rem;
  font-weight: 600;
}

.more {
	padding-top: 1rem;
	display: inline-block;
}
