//@import '~common/style/_settings.scss';

.free_search {
	margin-top: 2rem;
	h4 {
		font-weight: 600;
		font-family: 'Heebo', sans-serif;
		font-size: 15px;
		position: relative;
		padding-bottom: 0.5rem;
	}
}
