//@import '~app/global.scss';
@import '~common/style/_settings.scss';

.item_lable {
  padding: 0.5rem;
  background-color: #EAEAEA;
  height: 100%;
  border-bottom: 1px solid #fff;
}

.item_key {
  padding: 0.5rem 1rem 0.5rem 3rem;
}

@media screen and (max-width: 39.9375em){
  h1 {
    margin-top: 2rem !important;
    font-size: 1.85rem !important;
  }
  .item_key {
    padding: 0!important;
    margin-bottom: 0.5rem;
  }
  .item_lable {
    padding: 0;
    background-color: transparent;
    height: 100%;
    border-bottom: 1px solid #fff;
    color: $dark-gray;
  }
  ul.tender_actions{
    li {
      width: 100%;
    }
  }

}

table {
  margin: 2rem !important;
  table-layout:fixed;
  width: auto !important;
  thead {
    font-weight: 400 !important;
    font-size: 0.8125rem;
    background: $xlight-gray;

  }
  tbody{
    tr:nth-child(even){
      background: #fff;

    }
    tr {
      border-bottom: 1px solid $xlight-gray;
    }
  }
}

.item_ltr {
  direction: ltr;
  text-align: right;
}

.item_left {
  text-align: left !important;
}

.item_meta {
  font-family: 'Heebo', sans-serif;
  margin-bottom: 1rem;
  color: $dark-gray;
}

.view-details-wrapper {
  padding:0.5rem 1.5rem;
}

ul.tender_actions {
  li {
    padding: 0.5rem;
    border-bottom: 1px solid $light-gray;
    a {
      color: $dark-gray;
      img {
        padding-left: 0.5rem;
      }
      &:hover {
        color: #34b44f !important;
      }
    }
  }
}

.label {
	font-family: 'Rubik', sans-serif !important;
	font-weight: 500;
	color: #fff !important;
	padding: rem-calc(3) rem-calc(8);
}

.alert {
	background: #EE274A;
	color: #fefefe;
}

.item_title {
	/*margin-top: 4rem;*/
	margin-top: 0;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
	font-size: 2rem;
  font-weight: 500;
  line-height: 1.125;
	color: $black;

	span {
		font-size: 2.15rem;
	}
}

.title_left {
  text-align: left !important;
  direction: ltr !important;
}

.thender_thumb {
  width: 100%;
}

.tender_data {
  margin-top: 1.5rem;
}

.table-left-end {
  width: 20%;
}

.view-details-wrapper {
  background-color: #fff;
}

.errors {
  margin: 0 auto;
  width: 400px;
  padding-top: 100px;
  font-size: 25px;
  color: crimson;
}



.radar-link {
display: block !important;
font-family: 'Rubik', sans-serif !important;
font-weight: 500 !important;
font-size: 15px !important;
letter-spacing: -0.02rem;
border-radius: 3px;
line-height: 1.2 !important;
padding: 0.5rem 2rem !important
  &:hover {
        color:white;
    }
}
