@import '~common/style/_settings.scss';

.cb-label {
  margin-right: 10px;
}

.tender_type {
	margin-top: 2rem;
	margin-bottom: 2rem;
	h4 {
		font-weight: 600;
		font-family: 'Heebo', sans-serif;
		font-size: 15px;
		border-bottom: 1px solid #DEDEDE !important;
		position: relative;
		padding-bottom: 0.5rem;
	}
	input {
		margin: 0.3rem 0 !important;
		vertical-align: middle;
	}
	span {
		vertical-align: middle;
	}
	input:checked:before {
		border-color: #fff !important;
	}
	input:checked:after {
		background-color: $green!important;
		border-color: $green !important;
	}

}

