.tender_wrapper {
	padding: 1rem 0.5rem;
	border-top: 1px solid #EAEAEA;
  > div {
  	display: inline-block;
    > p {
    	margin-bottom: 0;
    }
  }
}

.ten_date {
	width: 10%;
	color: #9B9B9B
}

.ten_title {
	width: 74%;
}

.ten_cat {
	width: 15%;
	color: #9B9B9B;
}
