/*.container {
  top: 200px;
  height: 150px;
}*/

.container {
  height: 130px;
}

.message {
  width: 160px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.button-container {
  width: 140px;
  margin: 0 auto;
}

.button {
  padding: 10px;
  border: solid 1px;
  margin: 5px;
}
